<div id="BrewingThermometerMain" ng-controller="brewingThermometer as brewingThermometer">
    <span id="lblTitle" class="BrewingThermometer_Title">{{thermometers.name}}</span>
    <br/>

    <div id="BrewingThermometer_Display">
        <div id="lblCurrentTemp" class="TemperatureDigital">
            {{thermometers.temp}}
        </div>
        <div id="btnTempHighAlarm" class="TemperatureDigitalSmallTop"
             ng-click="brewingThermometer.openAlarmPanel(thermometers.highAlarm,'highAlarm', thermometers.id)">
            {{thermometers.highAlarm}}
        </div>
        <div id="btnTempLowAlarm" class="TemperatureDigitalSmallBottom"
             ng-click="brewingThermometer.openAlarmPanel(thermometers.lowAlarm,'lowAlarm', thermometers.id)">
            {{thermometers.lowAlarm}}
        </div>
        <div id="pnlRimsButton" ng-if="brewingThermometer.showRimsButton(thermometers)">
            <span ng-click="brewingThermometer.showRimsSettings()" class="Clickable"> <i class='icon-beer'></i>RIMS Settings</span>

            <form name="rimsForm">
                <table ng-show="brewingThermometer.rimsSettingVisible" class="pnlRimsControls">
                    <tr>
                        <td class="RimsSettingLabel">Set Point:
                        </td>
                        <td class="RimsSettingTB">
                            <input type="number" id="tbSetPoint" ng-model="brewingThermometer.rimsSetPoint"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="RimsSettingLabel">WindowSize:
                        </td>
                        <td class="RimsSettingTB">
                            <input type="number" id="tbWindowSize" ng-model="brewingThermometer.rimsWindowSize"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="RimsSettingLabel">Kp:
                        </td>
                        <td class="RimsSettingTB">
                            <input type="number" id="tbKp" ng-model="brewingThermometer.rimsKp"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="RimsSettingLabel">Ki:
                        </td>
                        <td class="RimsSettingTB">
                            <input type="number" id="tbKi" ng-model="brewingThermometer.rimsKi"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="RimsSettingLabel">Kd:
                        </td>
                        <td class="RimsSettingTB">
                            <input type="number" id="tbKd" ng-model="brewingThermometer.rimsKd"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span class="error" ng-show="rimsForm.tbSetPoint.$error.number">ERROR!</span>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="RimsSettingTB">
                            <button id="btnUpdateRims" ng-click="brewingThermometer.btnUpdateRimsClick()"
                                    class="btnUpdateRims">Submit
                            </button>
                            <button id="btnUpdateRimsCancel" ng-click="brewingThermometer.btnUpdateRimsCancelClick()"
                                    class="btnUpdateRims">
                                Cancel
                            </button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div id="pnlSetAlarm" class="PanelOverlay" ng-show="brewingThermometer.showPnlAlarm(thermometers)">
            <form name="alarmForm">
                <span id="lblAlarmTitle">{{brewingThermometer.curPnlAlarm.whichAlarmDis}} Alarm</span>
                <br/>
                <input type="number" id="tbAlarm" name='tbAlarm' Width="33%" min="-67" max="257"
                       ng-model="brewingThermometer.curPnlAlarm.temperature">
                <span class="error" ng-show="alarmForm.tbAlarm.$error.number">ERROR!</span>
                <button id="btnUpdateAlarms" ng-click="brewingThermometer.btnUpdateAlarmsClick(thermometers)">Update
                </button>
                <button id="btnCancelAlarms" ng-click="brewingThermometer.btnCancelAlarmsClick()">Cancel</button>
            </form>
        </div>
    </div>
</div>