<div ng-controller="settingsFormCtrl as settingsFormCtrl" class="container">
    <form name="settingsForm" class="form-horizontal">
        <legend>Settings</legend>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="settingsFormCtrl.settings.showStatusLog">
                        Show Status Log
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="settingsFormCtrl.settings.showBottomButtons">
                        Display Dashboard Action Buttons
                    </label>
                </div>
            </div>
        </div>
        

        <div class="panel panel-default">
            <div class="panel-heading">Informational Popups</div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="settingsFormCtrl.settings.showToast.error">
                                Show Errors
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="settingsFormCtrl.settings.showToast.info">
                                Show Info
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="settingsFormCtrl.settings.showToast.success">
                                Show Success
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="settingsFormCtrl.settings.showToast.warning">
                                Show Warning
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-5 col-md-offset-2 col-xs-6 text-info">Thermometer</div>
            <div class="col-md-5 col-xs-6 text-info">Order</div>
        </div>
        <div ng-repeat="thermo in settingsFormCtrl.settings.thermos">
            <div class="form-group">

                <div class="col-md-5 col-md-offset-2 col-xs-6" ng-hide="settingsFormCtrl.showThermoName[thermo.id]" ng-click="settingsFormCtrl.clickThermoName(thermo)">{{thermo.name}}</div>
                <div class="col-md-5  col-md-offset-2 col-xs-6" ng-show="settingsFormCtrl.showThermoName[thermo.id]">
                    <input type="text" class="form-control input-sm" ng-model="thermo.name" ng-blur="settingsFormCtrl.exitThermoName(thermo)" />
                </div>


                <div class="col-md-5 col-xs-6" ng-hide="settingsFormCtrl.showThermoOrder[thermo.id]" ng-click="settingsFormCtrl.clickThermoOrder(thermo)">{{thermo.order}}</div>
                <div class="col-md-5 col-xs-6" ng-show="settingsFormCtrl.showThermoOrder[thermo.id]">
                    <input type="number" class="form-control input-sm" ng-model="thermo.order" ng-blur="settingsFormCtrl.exitThermoOrder(thermo)" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <button type="button" class="btn btn-default"
                    ng-click="settingsFormCtrl.cancel()">
                    Cancel
                </button>

                <button type="button" class="btn btn-info"
                    ng-click="settingsFormCtrl.submit(settingsFormCtrl.settings)">
                    Submit
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button type="button" class="btn btn-danger btn-block" ng-click="settingsFormCtrl.clearSessionData()">
                    Clear Session Data
                </button>
            </div>
        </div>
    </form>

</div>
