<!--<link href="3rdParty/css/bootstrap.nightly.css" rel="stylesheet" />-->

<div id="dashBoardMain" ng-controller="dashboardCtrl as dboardCtrl" class="container-fluid" ng-animate>

    <!-- #################### dashboard side panel menu #################### -->
    <div class="dashboard-slide-menu panel panel-default fxFade" ng-show="dboardCtrl.showMenu" style="margin-left: -15px">

        <ul>
            <li>
                <label class="dashboardButton"><i class='icon-level-up' ng-click="dboardCtrl.closeMenu()"></i></label>
            </li>
            <li>
                <label ng-click="dboardCtrl.setAlarm()" style="cursor: pointer" ng-class="{'alarmBtn-dashboard': dboardCtrl.alarmBtn === true }"><i class='icon-attention-alt'></i>Alarm</label>
            </li>
            <li>
                <label ng-click="dboardCtrl.addTimer()" style="cursor: pointer">
                    <i class="icon-clock" style="color: white"></i>
                    <br />
                    Timer
                </label>
            </li>
            <li>
                <label ng-click="dboardCtrl.rimsClick()" style="cursor: pointer" ng-class="{'rimsBtn-dashboard': dboardCtrl.rimsEnable == 1 }"><i class="icon-fire-1"></i>RIMS</label>
            </li>
            <li>
                <label ng-click="dboardCtrl.pumpClick()" style="cursor: pointer" ng-class="{'pumpBtn-dashboard': dboardCtrl.pumpOn == 1  }"><i class="icon-off"></i>Pump</label>
            </li>
            <li>
                <label ng-click="dboardCtrl.auxClick()" style="cursor: pointer" ng-class="{'auxBtn-dashboard': dboardCtrl.auxOn == 1 }"><i class="icon-off"></i>Aux</label>
            </li>
            <li>
                <label ng-click="dboardCtrl.rimsSettingsClick()" class="dashboardButton"><i class="icon-sliders"></i>RIMs-Settings</label>
            </li>
            <li>
                <label ng-click="dboardCtrl.dbSettingsClick()" class="dashboardButton"><i class="icon-database"></i>Database</label>
            </li>
            <li>
                <label ng-click="dboardCtrl.settingsClick()" class="dashboardButton"><i class="icon-cog-alt"></i>Settings</label>
            </li>
        </ul>
    </div>

    <!-- ########################## Top Row ####################################### -->

    <div id="dashBoardHeader" class="dashBoardHeader  clearfix">
        <div class="col-md-3 ">
            <div class="row">
                <div class="col-sm-2 col-xs-6 text-color5 Clickable"><i class='icon-menu' ng-click="dboardCtrl.openMenu()"></i></div>
                <div class="col-sm-10 col-xs-6">
                    <div class="CountDownTimer2" ng-include="'App/countDownTimer/countDownTimer.html'">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-sm-4 col-xs-6 text-color5  Clickable"  ng-repeat="otherThermo in dboardCtrl.otherThermos | orderBy:'order' " ng-click="dboardCtrl.switchTemps(otherThermo)">
                    <span class="dashboard-minor-title" ng-class="{'alarmBtn-dashboard': dboardCtrl.hasTempAlarm(otherThermo.id) }">{{otherThermo.name}}
                    </span>
                    <span class="dashboard-minor-temp " ng-class="{'alarmBtn-dashboard': dboardCtrl.hasTempAlarm(otherThermo.id) }">{{otherThermo.temp | number:1}}
                    </span>
                </div>
            </div>
        </div>

    </div>


    <!-- ####################### Main Temperature Infomation ################################## -->

    <div class="col-md-3 ">
        <div class="row">
            <div class="col-xs-6 h1 text-color1" ng-class="{'alarmBtn-dashboard': dboardCtrl.hasTempAlarm(dboardCtrl.thermo.id) }">
                {{dboardCtrl.thermo.name}}
            </div>
            <div class="col-xs-6 h1 text-color1" ng-class="{'alarmBtn-dashboard': dboardCtrl.hasTempAlarm(dboardCtrl.thermo.id) }">{{dboardCtrl.thermo.temp | number:1}}</div>
        </div>
        <div class="row">
            <div class="col-xs-2 h5 text-color4   Clickable" ng-click="dboardCtrl.toggleAlarm('highAlarm')">High:</div>
            <div class="col-xs-4 h5 text-color4  Clickable" ng-click="dboardCtrl.clickAlarm('highAlarm')" ng-hide="dboardCtrl.showAlarmForm['highAlarm']">{{dboardCtrl.thermo.highAlarm | number:1}}</div>
            <div class="col-xs-4 h5 text-color4  Clickable" ng-show="dboardCtrl.showAlarmForm['highAlarm']">
                <input type="number" min="0" class="form-control input-sm" id="highAlarm" ng-model="dboardCtrl.highAlarm" ng-blur="dboardCtrl.exitAlarm('highAlarm', dboardCtrl.thermo.id, dboardCtrl.highAlarm)" />
            </div>
            <div class="col-xs-2 h5 text-color4  Clickable" ng-click="dboardCtrl.toggleAlarm('lowAlarm')">Low:</div>
            <div class="col-xs-4 h5 text-color4  Clickable" ng-click="dboardCtrl.clickAlarm('lowAlarm')" ng-hide="dboardCtrl.showAlarmForm['lowAlarm']">{{dboardCtrl.thermo.lowAlarm | number:1}}</div>
            <div class="col-xs-4 h5 text-color4  Clickable" ng-show="dboardCtrl.showAlarmForm['lowAlarm']">
                <input type="number" min="0" class="form-control input-sm" id="lowAlarm" ng-model="dboardCtrl.lowAlarm" ng-blur="dboardCtrl.exitAlarm('lowAlarm', dboardCtrl.thermo.id, dboardCtrl.lowAlarm)" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 h5 text-color1">Temp. Velocity:</div>
            <div class="col-xs-6 h5 text-color1">{{dboardCtrl.tempSpeed | number:1}} F/min</div>
        </div>
        <div class="row">
            <div class="col-xs-6 h5 text-color1">ETA to Alarm:</div>
            <div class="col-xs-6 h5 text-color1">{{dboardCtrl.etaAlarm  | number:1}} minutes</div>
        </div>
    </div>


    <!-- ########################## Chart ####################################################-->
    <div class="col-md-9">
        <div class="row">
            <div class="col-sm-10">
                <!--<div google-chart chart="dboardCtrl.chart" style="{{dboardCtrl.chart.cssStyle}}"></div>-->
                 <highchart id="chart1" config="dboardCtrl.chart" class="span10"></highchart>
                &nbsp;
            </div>
            <div class="col-sm-2 ">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Chart Key
                    </div>
                    <div class="panel-body">
                        <div ng-repeat="thermo in dboardCtrl.chartOtherThermos">
                            <input type="checkbox" name="chBxChart{{thermo.id}}" ng-model="thermo.chartEnabled" ng-click="dboardCtrl.chBxChartChanged(thermo)" />{{thermo.name}}
                        </div>
                        <br />
                        <br />
                        <h4>Chart Type:</h4>
                        <label><input type="radio" name="chartRadio" ng-model="dboardCtrl.chart.type" value="AreaChart">Area</label>
                        <br />
                        <label><input type="radio" name="chartRadio" ng-model="dboardCtrl.chart.type" value="LineChart" />Line</label>
                        <br />
                        <br />
                        <div style="cursor:pointer" ng-class="{'nonAlarm': dboardCtrl.showRims == true }" ng-click="dboardCtrl.toggleShowRims()">Show RIMs details</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ############################ Optional bottom row #####################################-->
    <div class="row bottom-row-buttons" ng-show="dboardCtrl.showBottomButtons===true">

        <span>
            <label ng-click="dboardCtrl.setAlarm()" style="cursor: pointer" ng-class="{'alarmBtn-dashboard': dboardCtrl.alarmBtn === true }"><i class='icon-attention-alt'></i><br />Alarm</label>
        </span>
        <span>
            <label ng-click="dboardCtrl.addTimer()" style="cursor: pointer">
                <i class="icon-clock" style="color: white"></i>
                <br />
                Timer
            </label>
        </span>

        <span>
            <label ng-click="dboardCtrl.rimsClick()" style="cursor: pointer" ng-class="{'nonAlarm': dboardCtrl.rimsEnable == 1 }"><i class="icon-fire-1"></i><br />RIMS</label>
        </span>
        <span>
            <label ng-click="dboardCtrl.pumpClick()" style="cursor: pointer" ng-class="{'nonAlarm': dboardCtrl.pumpOn == 1  }"><i class="icon-off"></i><br />Pump</label>
        </span>
        <span>
            <label ng-click="dboardCtrl.auxClick()" style="cursor: pointer" ng-class="{'nonAlarm': dboardCtrl.auxOn == 1 }"><i class="icon-off"></i><br />Aux</label>
        </span>
     </div>
    <!-- ############################ Quick link to classic mode #####################################-->
    <div class="col-sm-6">
        <a ui-sref="classic" class="text-color2">classic theme</a> <br />
        <a ui-sref="#/historyCharts/0" class="text-color2">historic charts</a> 
    </div>

    <!-- ########################### Last updates #####################################################-->
    <div class="col-sm-6 text-right">
        <div class="text-color5  h6">Last temperature update: {{dboardCtrl.lastTempUpdate | date:'mediumTime'}}</div>
        <div class="text-color5 h6">Last chart update: {{dboardCtrl.lastChartUpdate | date:'mediumTime'}}</div>
    </div>
    <!-- ########################### Debug Status #####################################################-->
    <div ng-if="dboardCtrl.showStatusLog">
        <pre class="statusLog">{{dboardCtrl.statusInfo | json}}</pre>
    </div>
</div>




