<div id="BrewingThermometerMain">
    <span id="lblTitle" class="BrewingThermometer_Title" >{{thermometers.name}}</span>
    <br/>

    <div id="BrewingThermometer_Display">
        <div id="lblCurrentTemp" class="TemperatureDigital">
            {{thermometers.temp}}
        </div>
        <div id="btnTempHighAlarm" class="TemperatureDigitalSmallTop"  ng-click="openAlarmPanel(thermometers.highAlarm,'high', thermometers.id)">
            {{thermometers.highAlarm}}
        </div>
        <div id="btnTempLowAlarm" class="TemperatureDigitalSmallBottom" ng-click="openAlarmPanel(thermometers.lowAlarm,'low', thermometers.id)">
            {{thermometers.lowAlarm}}
        </div>
        <div id="pnlRimsButton" ng-if="showRimsButton(thermometers)" >
           <span ng-click="showRimsSettings()" class="Clickable"> <i class='icon-beer'></i>RIMS Settings</span>
            <table ng-show="rimsSettingVisible()" ng-class="pnlRimsControls">
                <tr>
                    <td class="RimsSettingLabel">Set Point:
                    </td>
                    <td class="RimsSettingTB">
                        <input type="number" id="tbSetPoint" ng-model="rimsSetPoint"/>
                    </td>
                </tr>
                <tr>
                    <td class="RimsSettingLabel">WindowSize:
                    </td>
                    <td class="RimsSettingTB">
                        <input type="number" id="tbWindowSize" ng-model="rimsWindowSize"/>
                    </td>
                </tr>
                <tr>
                    <td class="RimsSettingLabel">Kp:
                    </td>
                    <td class="RimsSettingTB">
                        <input type="number" id="tbKp" ng-model="rimsKp"/>
                    </td>
                </tr>
                <tr>
                    <td class="RimsSettingLabel">Ki:
                    </td>
                    <td class="RimsSettingTB">
                        <input type="number" id="tbKi" ng-model="rimsKi"/>
                    </td>
                </tr>
                <tr>
                    <td class="RimsSettingLabel">Kd:
                    </td>
                    <td class="RimsSettingTB">
                        <input type="number" id="tbKd" ng-model="rimsKd"/>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="RimsSettingTB">
                        <button id="btnUpdateRims" ng-click="btnUpdateRims_Click()"    class="btnUpdateRims">Submit</button>
                        <button id="btnUpdateRimsCancel" ng-click="btnUpdateRimsCancel_Click()" class="btnUpdateRims">Cancel</button>
                    </td>
                </tr>
            </table>
        </div>
        <div id="pnlSetAlarm" class="PanelOverlay" ng-show="showPnlAlarm(thermometers)">
            <span id="lblAlarmTitle" >{{curPnlAlarm.whichAlarm}} Alarm</span>
            <br />
            <input type="text" id="tbAlarm"  Width="33%" ng-model="curPnlAlarm.temperature">
            <button id="btnUpdateAlarms" ng-click="btnUpdateAlarmsClick(thermometers)">Update</button>
            <button id="btnCancelAlarms" ng-click="btnCancelAlarmsClick()">Cancel</button>
        </div>

        <!--   <div ID="pnlRimsButton" runat="server" Visible="false" CssClass="pnlRimsButton">
                 <div id="btnShowRimsControls" class="Clickable">
                     <div id="pnlRimsControls" style="display: none;" class="RimsSettingContainterXXXXX">
                         <table>
                             <tr>
                                 <td class="RimsSettingLabel">Set Point:
                                 </td>
                                 <td class="RimsSettingTB">
                                     <input type="text" ID="tbSetPoint"/>
                                 </td>
                             </tr>
                             <tr>
                                 <td class="RimsSettingLabel">WindowSize:
                                 </td>
                                 <td class="RimsSettingTB">
                                     <input type="text" ID="tbWindowSize"/>
                                 </td>
                             </tr>
                             <tr>
                                 <td class="RimsSettingLabel">Kp:
                                 </td>
                                 <td class="RimsSettingTB">
                                     <input type="text" ID="tbKp"/>
                                 </td>
                             </tr>
                             <tr>
                                 <td class="RimsSettingLabel">Ki:
                                 </td>
                                 <td class="RimsSettingTB">
                                     <input type="text" ID="tbKi"/>
                                 </td>
                             </tr>
                             <tr>
                                 <td class="RimsSettingLabel">Kd:
                                 </td>
                                 <td class="RimsSettingTB">
                                     <input type="text" ID="tbKd"/>
                                 </td>
                             </tr>
                             <tr>
                                 <td></td>
                                 <td class="RimsSettingTB">
                                     <button ID="btnUpdateRims" Text="Set" OnClick="btnUpdateRims_Click"
                                             CssClass="btnUpdateRims"/>
                                     <button ID="btnUpdateRimsCancel" Text="Cancel" OnClick="btnUpdateRimsCancel_Click"
                                             CssClass="btnUpdateRims"/>
                                 </td>
                             </tr>
                         </table>
                     </div>
                     <i class='icon-beer'></i>RIMS Settings
                 </div>
                 <div>
                     <div ID="pnlSetAlarm" CssClass="PanelOverlay" runat="server" Visible="false">
                         <span ID="lblAlarmTitle"/>
                         <br/>
                         <input type="text" ID="tbAlarm" Width="33%"/>
                         <button ID="btnUpdateAlarms" OnClick="btnUpdateAlarms_OnClick"
                                 Text="Update"/>
                         <button ID="btnCancelAlarms" OnClick="btnCancelAlarms_OnClick"
                                 Text="Cancel"/>
                         <input type="hidden" id="" hfWhichAlarm" />
                     </div>
                 </div>
             </div>-->
    </div>
</div>