
.icon-off:before { content: '\e800'; } /* '' */
.icon-alert:before { content: '\e801'; } /* '' */
.icon-attention-circled:before { content: '\e802'; } /* '' */
.icon-attention-alt:before { content: '\e803'; } /* '' */
.icon-bell:before { content: '\e804'; } /* '' */
.icon-bell-1:before { content: '\e805'; } /* '' */
.icon-flash:before { content: '\e806'; } /* '' */
.icon-flash-1:before { content: '\e807'; } /* '' */
.icon-fire:before { content: '\e808'; } /* '' */
.icon-fire-1:before { content: '\e809'; } /* '' */
.icon-fire-2:before { content: '\e80a'; } /* '' */
.icon-dot-circled:before { content: '\e80b'; } /* '' */
.icon-spin2:before { content: '\e80c'; } /* '' */
.icon-spin1:before { content: '\e80d'; } /* '' */
.icon-beer:before { content: '\e80e'; } /* '' */
.icon-beer-1:before { content: '\e80f'; } /* '' */
.icon-water:before { content: '\e810'; } /* '' */