<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <!--<link rel="stylesheet" href="3rdParty/css/bootstrap.min.css"/>-->
    <link rel="stylesheet" href="Style/Site.css" />
    <link href="Fonts/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="Fonts/fontello-374a6348/css/misc.css" rel="stylesheet" type="text/css" />
    <script src="3rdParty/script/angular.js"></script>
    <script src='App/app.js'></script>
    <script src="App/appCfg.js"></script>
    <script src="App/brewduino/brewduinoDataSrv.js"></script>
    <script src="App/brewduino/brewduinoController.js"></script>
    <script src="App/brewingThermometer/brewingThermometer.js"></script>
    <script src="App/countDownTimer/countDownTimerController.js"></script>
    <script src="App/brewduinoStubData.js"></script>
    <script src="App/brewduino/brewduinoCmdsVal.js"></script>
    <script src="3rdParty/script/angular-timer.js"></script>
</head>
<body ng-controller="brewduinoCtrl as brewduino">
    <div id="pnlMain">
        <div id="RimsPanelMain">
            <div id="RimsThermometers">
                <div class="RimsThermometer" ng-include="'App/brewingThermometer/brewingThermometer.html'"
                     ng-repeat="thermometers in brewduino.stubData.thermometers"></div>
                <div class="CountDownTimer">
                    <div ng-include="'App/countDownTimer/countDownTimer.html'"></div>
                </div>
            </div>
            <div id="buttonRow">
                <div class="SwitchWrapper">
                    <div class="switch" id="switchReset">
                        <input type="checkbox" ng-model="brewduino.alarmBtn" ng-click="brewduino.alarmClick(brewduino.alarmBtn)" />
                        <label><i class='icon-attention-alt'></i>Alarm</label>
                    </div>
                </div>
                <div class="SwitchWrapper">
                    <div class="switch" id="switchRimsOn">
                        <input type="checkbox" />
                        <label><i class="icon-fire-1"></i>RIMS</label>

                    </div>
                </div>
                <div class="SwitchWrapper">
                    <div class="switch" id="switchPumpOn">
                        <input type="checkbox" />
                        <label><i class="icon-off"></i>Pump</label>
                    </div>
                </div>
                <div class="SwitchWrapper">
                    <div class="switch" id="switchAuxPower">
                        <input type="checkbox" />
                        <label><i class="icon-off"></i>Aux</label>
                    </div>
                </div>
                <span class="Stretch" />
            </div>
        </div>
    </div>

</body>
</html>