#content
{
    width: 100%;
    float: left;
}

.error
{
    color: red;
    font-weight: bold;
}

#RimsAlarm
{
    font-size: 18px;
}

#pnlMain
{
    background-color: white;
    color: black;
    height: 1px;
}
/**************************** Brewing Thermometer **************************/
div#RimsThermometers
{
    /*TODO padding: 10px 10px 10px 85px;*/
    background-color: white;
    margin-right: auto;
    margin-left: auto; /*width: 90%;*/
    text-align: center;
    float: left;
    width: 100%;
}

    div#RimsThermometers .RimsThermometer
    {
        /* todo margin: 5px 5px 5px 5px; */
        background-color: #e9e9e9;
        background-image: -webkit-linear-gradient(top, #e9e9e9, #f1f1f1);
        background-image: -moz-linear-gradient(top, #e9e9e9, #f1f1f1);
        background-image: -ms-linear-gradient(top, #e9e9e9, #f1f1f1);
        background-image: -o-linear-gradient(top, #e9e9e9, #f1f1f1);
        background-image: linear-gradient(to bottom, #e9e9e9, #f1f1f1);
        /*-moz-border-radius: 10px;     -webkit-border-radius: 10px;     border-radius: 10px;*/
        /*border: 1px solid #4d4d4d;*/
        /*This is for generic shadow*/
        /*-moz-box-shadow: 2px 2px 5px rgba(000,000,000,0.5), inset 0px 0px 2px rgba(255,255,255,1);
    -webkit-box-shadow: 2px 2px 5px rgba(000,000,000,0.5), inset 0px 0px 2px rgba(255,255,255,1);
    box-shadow: 2px 2px 5px rgba(000,000,000,0.5), inset 0px 0px 2px rgba(255,255,255,1);*/
        webkit-box-shadow: 0px 0px 5px 1px rgba(98, 145, 208, 0.5);
        -moz-box-shadow: 0px 0px 5px 1px rgba(98, 145, 208, 0.5);
        box-shadow: 0px 0px 5px 1px rgba(98, 145, 208, 0.5);
        webkit-box-shadow: 0px 0px 5px 1px rgba(0, 30, 71, 0.5);
        -moz-box-shadow: 0px 0px 5px 1px rgba(0, 30, 71, 0.5);
        box-shadow: 0px 0px 5px 1px rgba(0, 30, 71, 0.5);
        /*width: 320px;*/
        width: 98%;
        margin: 10px 1% 0px 1%;
        padding-bottom: 10px;
        /*padding: 10px 10px 10px 10px;*/
        /*TODO padding: 3.125%;*/
        display: block;
        float: left;
    }

#btnShowNewTimerPanel, #btnShowRimsControls, .pnlRimsControls
{
    border: 1px solid #9abb82;
    /*todo  margin: 0px 0px 2px 2px; */
    border-radius: 13px;
    /* TODO padding: 0px 8px 0px 2px; */
    background-color: #e9e9e9;
    font-size: 20px;
    webkit-box-shadow: 0px 0px 5px 1px rgba(154, 187, 130, 0.5);
    -moz-box-shadow: 0px 0px 5px 1px rgba(154, 187, 130, 0.5);
    box-shadow: 0px 0px 5px 1px rgba(154, 187, 130, 0.5);
}

.pnlRimsControls
{
    z-index: 10;
    position: relative;
}

#pnlRimsButton
{
    background-color: #e9e9e9;
    padding-right: 2px;
}

#btnShowRimsControls
{
    float: left;
    /*width: 291px;*/
    width: 100%; /*not 100 because there is a border*/
    position: relative;
    z-index: 101;
    /* padding-left: -10px;*/
    border-top-left-radius: 0px;
    border-top-right-radius: 0;
}

.RimsSettingContainter
{
    z-index: 99;
    float: left;
    top: -49px;
    position: relative;
    background-color: White;
    background-color: #e9e9e9;
    background-image: -webkit-linear-gradient(top, #e9e9e9, #f1f1f1);
    background-image: -moz-linear-gradient(top, #e9e9e9, #f1f1f1);
    background-image: -ms-linear-gradient(top, #e9e9e9, #f1f1f1);
    background-image: -o-linear-gradient(top, #e9e9e9, #f1f1f1);
    background-image: linear-gradient(to bottom, #e9e9e9, #f1f1f1);
    /*-moz-border-radius: 10px;     -webkit-border-radius: 10px;     border-radius: 10px;*/
    /*border: 1px solid #4d4d4d;*/
    /*This is for generic shadow*/
    /*-moz-box-shadow: 2px 2px 5px rgba(000,000,000,0.5), inset 0px 0px 2px rgba(255,255,255,1);
    -webkit-box-shadow: 2px 2px 5px rgba(000,000,000,0.5), inset 0px 0px 2px rgba(255,255,255,1);
    box-shadow: 2px 2px 5px rgba(000,000,000,0.5), inset 0px 0px 2px rgba(255,255,255,1);*/
    webkit-box-shadow: 0px 0px 5px 1px rgba(98, 145, 208, 0.5);
    -moz-box-shadow: 0px 0px 5px 1px rgba(98, 145, 208, 0.5);
    box-shadow: 0px 0px 5px 1px rgba(98, 145, 208, 0.5);
    width: 281px;
    width: 93.75%;
    /*todo  margin: 3px; */
    /*todo padding: 10px 10px 10px 10px; */
}

.RimsSettingLabel
{
    /*float: left;*/
    font-size: 15px;
    /* padding-left: 10px; */
    width: 20%;
    text-align: left;
}

.RimsSettingTB
{
    width: 80%;
    text-align: left;
}

.RimsTb
{
    width: 100%;
}

.btnUpdateRims
{
    width: 75px;
    /* width: 80%;*/
}

.CountDownTimer
{
    display: block;
    vertical-align: top;
    float: left;
    width: 100%;
    width: 98%;
    margin: 10px 1% 0px 1%;
}

.CountDownTimer2
{
    display: block;
    vertical-align: top;
    float: left;
    /*width: 100%;
    width: 98%;
    margin: 10px 1% 0px 1%;*/
}



.BrewingThermometer_Title
{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.TemperatureDigital
{
    /*font-size: 65px;     background-color: Black;     color: red;*/
    text-align: center;
    float: left;
    /*width: 200px;
    height: 81px;*/
    height: 1.25em;
    width: 66.6667%;
    width: 100%;
    /* height: 25.3125%;*/
    border: solid;
    border-color: Blue;
    border-width: 0px;
    border-right-width: 0px;
    font-family: Arial, Helvetica, sans-serif;
    /*font-size: 65px;*/
    /*font-size: 6.4em;*/
    font-size: 6.25em;
    color: #fa0000; /*padding: 10px 20px;*/
    /*float: left;*/
    /*
    background-image: -webkit-linear-gradient(top, #3c4142, #262a2a);
    background-image: -moz-linear-gradient(top, #3c4142, #262a2a);
    background-image: -ms-linear-gradient(top, #3c4142, #262a2a);
    background-image: -o-linear-gradient(top, #3c4142, #262a2a);
    background-image: linear-gradient(to bottom, #3c4142, #262a2a); */
    background-color: #262a2a;
    color: #C45050 !important;
    text-decoration: none;
}

.TemperatureDigitalZoom
{
    width: 400px;
    height: 161px;
    z-index: 9999;
}

.TemperatureDigitalSmallTop
{
    /*font-size: 30px;*/
    font-size: 3em;
    /*background-color: Black;
    color: #fa0000;*/
    text-align: center;
    float: left;
    /*width: 100px;
    height: 40px;*/
    height: 1.25em;
    width: 33.3333%;
    /*  height: 12.5%;*/
    /*font-size: 6.4em;*/
    font-size: 6.25em;
    width: 100%;
    border: solid;
    border-color: Blue;
    border-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    text-decoration: none;
    color: Red !important;
    /*background: #3c4142;
    background-image: -webkit-linear-gradient(top, #3c4142, #262a2a);
    background-image: -moz-linear-gradient(top, #3c4142, #262a2a);
    background-image: -ms-linear-gradient(top, #3c4142, #262a2a);
    background-image: -o-linear-gradient(top, #3c4142, #262a2a);
    background-image: linear-gradient(to bottom, #3c4142, #262a2a);*/
    background-color: #262a2a;
    color: #C45050 !important;
}

.TemperatureDigitalSmallZoom
{
    width: 200px;
    height: 80px;
}

.TemperatureDigitalSmallBottom
{
    /*font-size: 30px;*/
    font-size: 3em;
    background-color: Black;
    color: red;
    text-align: center;
    float: left;
    /*width: 100px;
    height: 40px;*/
    height: 1.25em;
    width: 33.3333%;
    /*font-size: 6.4em;*/
    font-size: 6.25em;
    width: 100%;
    /*height: 12.5%;*/
    border: solid;
    border-color: Blue;
    border-width: 0px;
    border-left-width: 0px;
    text-decoration: none;
    color: #fa0000 !important;
    /*background: #3c4142;
    background-image: -webkit-linear-gradient(top, #3c4142, #262a2a);
    background-image: -moz-linear-gradient(top, #3c4142, #262a2a);
    background-image: -ms-linear-gradient(top, #3c4142, #262a2a);
    background-image: -o-linear-gradient(top, #3c4142, #262a2a);
    background-image: linear-gradient(to bottom, #3c4142, #262a2a);
    font-family: Arial;
    color: #ffffff;*/
    /*font-size: 20px; */
    /*padding: 10px 20px 10px 20px;*/
    text-decoration: none;
    background-color: #262a2a;
    color: #C45050 !important;
}

    .TemperatureDigitalSmallBottom:hover, .TemperatureDigitalSmallTop:hover, .TemperatureDigital:hover
    {
        background-color: #343231;
        /*background-image: -webkit-linear-gradient(top, #686463, #423d3c);
        background-image: -moz-linear-gradient(top, #686463, #423d3c);
        background-image: -ms-linear-gradient(top, #686463, #423d3c);
        background-image: -o-linear-gradient(top, #686463, #423d3c);
        background-image: linear-gradient(to bottom, #686463, #423d3c);*/
        text-decoration: none;
    }


div#BrewingThermometer_Display
{
    display: inline-block;
    /*width: 304px;
    height: 150px;*/
    width: 95%;
    /*height: 46.875%;*/
    float: none; /* background-color: Lime;     border-color: Black;     border-width: 5px;     border: solid; */
}

.PanelOverlay
{
    position: relative;
    float: left;
    /*top: -50px;*/
    /*todo padding: 10px 10px 10px 10px;*/
    background-color: Lime;
    z-index: 999;
    width: 100%;
    font-size: 18px; /*position: absolute;     top: 75px;     left: 400px; */
    background-color: White;
    /*  margin  : 5px 5px 5px 5px; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000000; /* padding: 10px 20px;*/
    background: -moz-linear-gradient(top, #ffffff 0%, #d9d9d9);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d9d9d9));
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #4d4d4d;
    -moz-box-shadow: 2px 2px 5px rgba(000, 000, 000, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 2px 2px 5px rgba(000, 000, 000, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 1);
    box-shadow: 2px 2px 5px rgba(000, 000, 000, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 1);
    text-shadow: 0px -1px 0px rgba(000, 000, 000, 0.4), 0px 1px 0px rgba(255, 255, 255, 0.3);
}

.cancelX
{
    font-size: 12px;
    color: red;
    cursor: pointer;
}

.Clickable
{
    cursor: pointer;
}

/*************************** master Table ****************************************/
.DefaultBackGround
{
    background-color: #084C8C;
}

.MasterTable
{
    width: 96%;
    margin-left: 20px;
    margin-right: 20px;
    border-collapse: collapse;
}

.MasterHeader
{
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 0px;
    border-collapse: collapse;
}

.MasterBody
{
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 15px;
    border-collapse: collapse; /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top left, #F7F9FB 0%, #FAFBFC 100%); /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top left, #F7F9FB 0%, #FAFBFC 100%); /* Opera */
    background-image: -o-linear-gradient(top left, #F7F9FB 0%, #FAFBFC 100%); /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #F7F9FB), color-stop(1, #FAFBFC)); /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top left, #F7F9FB 0%, #FAFBFC 100%); /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom right, #F7F9FB 0%, #FAFBFC 100%);
    border-radius: 5px;
}

.WebPageMainTable
{
    width: 100%;
}

.BrewingThermometerMainTable
{
    /*background-color: white;*/
    border-radius: 5px;
    border-collapse: separate;
    border-bottom-color: black;
    border-top-color: black;
    border-left-color: black;
    border-right-color: black;
    text-align: center;
}

.BrewingThermometer_Temp
{
    /*todo   margin-left: 50px; */
    background-color: Black;
    text-align: center;
}

/******************************** JQuery *******************************/

body
{
    /*font: 62.5% "Trebuchet MS", sans-serif;*/
    /*margin: 50px;*/
}

/********************* Count Down ********************/
.clock
{
    font-size: 28px;
    color: #6291d0;
}

.clockExpired
{
    font-size: 20px;
    color: rgb(114, 181, 255);
    color: rgba(114, 181, 255, 0.71);
}

#pnlAddTimer
{
    width: 100%;
    /*position: absolute;     top: 75px;     left: 400px; */
    background-color: White;
    /*todo  padding: 2px 10px 10px 10px; */
    /*todo   margin: 5px 5px 5px 5px; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000000; /* padding: 10px 20px;*/
    background: -moz-linear-gradient(top, #ffffff 0%, #d9d9d9);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d9d9d9));
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #4d4d4d;
    -moz-box-shadow: 2px 2px 5px rgba(000, 000, 000, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 2px 2px 5px rgba(000, 000, 000, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 1);
    box-shadow: 2px 2px 5px rgba(000, 000, 000, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 1);
    text-shadow: 0px -1px 0px rgba(000, 000, 000, 0.4), 0px 1px 0px rgba(255, 255, 255, 0.3);
}

#pnlAddTimer2
{
    background-color: white;
    width: 80%;
    color: #000000;
}

#pnlAddTimer table
{
    width: 100%;
    /*padding: 10px;*/
}
/***************************** Toggle Buttons***********************************/
#buttonRow
{
    text-align: center;
    float: left;
    width: 100%;
    /*padding-left: 180px;*/
    display: block;
    /*text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;*/
}

.switch input
{
    /* First, we make it as wide as the container */
    position: absolute;
    width: 100%;
    height: 100%;
    /* Then, we put it on top of everything else */
    z-index: 100;
    /* Last, we make it invisible */
    opacity: 0;
    /* This one is just for ergonomy */
    cursor: pointer;
}

.SwitchWrapper
{
    /*width:50%;*/
    padding: 20px 30px 60px 20px;
    display: inline-block;
}

.switch
{
    width: 75px;
    height: 75px;
    /* width: 10em;
    height: 10em; */
    position: relative;
    z-index: auto;
    margin: 5% 5%;
    display: block;
    display: flex;
    float: left;
    /*  padding-bottom: 25px;
    padding: 10%;
    margin-bottom: 30%;*/
}

    .switch label
    {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        color: #a5a39d;
        font-size: 70px;
        font-size: 3.6em;
        font-size: 2.2em;
        text-align: center;
        vertical-align: middle;
        line-height: 115px;
        line-height: 1.9em;
        line-height: 2em;
        text-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        background: #b25244; /* Fallback */
        background: linear-gradient(#f7f2f6, #b2ac9e);
        transition: all 0.3s ease-out;
        z-index: -1;
        box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.13), 0 5px 8px rgba(0, 0, 0, 0.3), 0 10px 10px 4px rgba(0, 0, 0, 0.3);
    }

        .switch label:before
        {
            content: "";
            position: absolute;
            left: -10px;
            right: -10px;
            top: -10px;
            bottom: -10px;
            z-index: -1;
            border-radius: inherit;
            box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.13);
            -webkit-filter: blur(1px); /* Smooth trick */
            filter: blur(1px); /* Future-proof */
        }

        .switch label:after
        {
            content: "";
            position: absolute;
            left: -15px;
            right: -15px;
            top: -15px;
            bottom: -15px;
            z-index: -2;
            border-radius: inherit;
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.15);
        }

    .switch .icon-off:after
    {
        content: "";
        display: block;
        position: absolute;
        width: 70%;
        height: 70%;
        left: 50%;
        top: 50%;
        z-index: -1;
        margin: -35% 0 0 -35%;
        border-radius: 50%;
        background: #d2cbc3; /* Fallback */
        background: linear-gradient(#cbc7bc, #d2cbc3);
        box-shadow: 0 -2px 5px rgba(255, 255, 255, 0.05), 0 2px 5px rgba(255, 255, 255, 0.1);
        -webkit-filter: blur(1px); /* Smooth trick */
        filter: blur(1px); /* Future-proof */
    }

    .switch .icon-attention-alt:after
    {
        content: "";
        display: block;
        position: absolute;
        width: 70%;
        height: 70%;
        left: 50%;
        top: 50%;
        z-index: -1;
        margin: -35% 0 0 -35%;
        border-radius: 50%;
        background: #d2cbc3;
        background: -moz-linear-gradient(#cbc7bc, #d2cbc3);
        background: -ms-linear-gradient(#cbc7bc, #d2cbc3);
        background: -o-linear-gradient(#cbc7bc, #d2cbc3);
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#cbc7bc), to(#d2cbc3));
        background: -webkit-linear-gradient(#cbc7bc, #d2cbc3);
        background: linear-gradient(#cbc7bc, #d2cbc3);
        box-shadow: 0 -2px 5px rgba(255, 255, 255, 0.05), 0 2px 5px rgba(255, 255, 255, 0.1);
    }

    .switch .icon-fire-1:after
    {
        content: "";
        display: block;
        position: absolute;
        width: 70%;
        height: 70%;
        left: 50%;
        top: 50%;
        z-index: -1;
        margin: -35% 0 0 -35%;
        border-radius: 50%;
        background: #d2cbc3;
        background: -moz-linear-gradient(#cbc7bc, #d2cbc3);
        background: -ms-linear-gradient(#cbc7bc, #d2cbc3);
        background: -o-linear-gradient(#cbc7bc, #d2cbc3);
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#cbc7bc), to(#d2cbc3));
        background: -webkit-linear-gradient(#cbc7bc, #d2cbc3);
        background: linear-gradient(#cbc7bc, #d2cbc3);
        box-shadow: 0 -2px 5px rgba(255, 255, 255, 0.05), 0 2px 5px rgba(255, 255, 255, 0.1);
    }

    .switch input:checked ~ label
    {
        /* Button */
        color: #9abb82;
        /*color: #6291d0;*/
        box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.13), 0 5px 8px rgba(0, 0, 0, 0.35), 0 3px 10px 4px rgba(0, 0, 0, 0.2);
    }

@-webkit-keyframes pulse
{
    0%
    {
        color: #C45050;
    }

    50%
    {
        color: #FC7E7E;
    }

    100%
    {
        color: #C45050;
    }
}

@keyframes pulse
{

    0%
    {
        color: #C45050;
    }

    50%
    {
        color: #FC7E7E;
    }

    100%
    {
        color: #C45050;
    }
}

#switchReset input:checked ~ label, .alarmBtn-dashboard
{
    color: #f66565;
    -webkit-animation: pulse 4s infinite;
    animation: pulse 4s infinite;
}

#switchPumpOn input:checked ~ label, #switchAuxPower input:checked ~ label, .pumpBtn-dashboard, .auxBtn-dashboard
{
    color: #6291d0;
}

.Stretch
{
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

.pnlTempGraph
{
    /*display: none;
    position: absolute;
    background-color: gray;
    background-color: rgba(125,125,125,0.5);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 5%;
    z-index: 210;*/
}

.TempGraph
{
    position: relative;
    top: 5px;
    left: 5%;
    z-index: 211;
}


/******************************** Dash Board ************************/
#dashBoardMain
{
    /*background-color: #353e42;*/
}

#dashBoardHeader ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    #dashBoardHeader ul li
    {
        width: 25%;
        float: left;
        text-align: center;
    }

.dashBoardHeader
{
    /*color: #19FCFC;*/
}

    .dashBoardHeader .CountDownTimer2
    {
        color: black;
    }


.clearfix:after
{
    content: "";
    display: table;
    clear: both;
}

.menu-bar
{
    background-color: blue;
    text-align: center;
    font-size: 3em;
}

div.dashboard-slide-menu
{
    top: 0;
    width: 100px;
    height: 100%;
    position: fixed;
    z-index: 20;
    overflow: hidden;
}

    div.dashboard-slide-menu li
    {
        display: block;
        text-align: center;
    }

        div.dashboard-slide-menu li label
        {
            font-size: 10px;
        }

            div.dashboard-slide-menu li label i
            {
                font-size: 30px;
            }

.rimsBtn-dashboard
{
    /* Button */
    color: #9abb82;
}

.dashboard-minor-title
{
    font-size: 15px;
}

.dashboard-minor-temp
{
    font-size: 15px;
}


.dashBoardHeader .clock
{
    font-size: 15px;
}

.dashBoardHeader .clockExpired
{
    font-size: 15px;
}

.text-color0
{
    color: #353E42 !important;
}

.text-color1
{
    color: #7A9F90 !important;
}

.text-color2
{
    color: #67DC2D !important;
}

.text-color3
{
    color: #19fcfc !important;
}

.text-color4
{
    color: #D3D3D4 !important;
}

.text-color5
{
    color: #83BABD !important;
}


#dashBoardMain .statusLog
{
    background-color: #303030;
    color: #D3D3D4;
}








@media only screen and (min-width: 480px)
{
    .TemperatureDigital
    {
        width: 66.6667%;
        font-size: 4em;
        height: 80px;
    }

    .TemperatureDigitalSmallBottom, .TemperatureDigitalSmallTop
    {
        font-size: 1.875em;
        width: 33.3333%;
        height: 40px;
    }
}

@media only screen and (min-width: 786px)
{
    div#RimsThermometers .RimsThermometer
    {
        width: 45%;
        height: 150px;
    }

    .CountDownTimer
    {
        width: 90%;
    }

    .switch
    {
        width: 100px;
        height: 100px;
    }

        .switch label
        {
            font-size: 2.875em;
            line-height: 1.9em;
        }

            .switch label:after
            {
                left: -20px;
                right: -20px;
                top: -20px;
                bottom: -20px;
            }
}

@media only screen and (min-width: 1024px)
{
    /*    div#RimsThermometers .RimsThermometer
    {
        width: 10%;
        margin-left: 5%;
        margin-top:10px;
    }

    .CountDownTimer
    {
        width: 20%;
    }
*/
}

@media only screen and (min-width: 1200px)
{
    div#RimsThermometers .RimsThermometer
    {
        width: 18.5%;
        margin-left: 1%;
    }

    .CountDownTimer
    {
        width: 220px;
    }

    .TemperatureDigital
    {
        font-size: 3.5em;
    }

    .TemperatureDigitalSmallBottom, .TemperatureDigitalSmallTop
    {
        font-size: 1.56em;
    }
}
