<div ng-controller="settingsFormCtrl as settingsFormCtrl">
    <form name="settingsForm" class="form-horizontal">
        <legend>Settings</legend>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="settingsFormCtrl.settings.useStubData">
                        Use stubData
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="settingsFormCtrl.settings.useMockServer">
                        Enable mock server
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="settingsFormCtrl.settings.showStatusLog">
                        Show Status Log
                    </label>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <label for="brewduinoUrlAndPort" class="col-md-2 control-label">BrewDuino URL and Port</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="brewduinoUrlAndPort" name="brewduinoUrlAndPort"
                    placeholder="{{settingsFormCtrl.currentSrvUrl}}" ng-model="settingsFormCtrl.settings.url" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">

                <button type="button" class="btn btn-default"
                    ng-click="settingsFormCtrl.cancel()">
                    Cancel</button>

                <button type="button" class="btn btn-info"
                    ng-click="settingsFormCtrl.submit(settingsFormCtrl.settings)">
                    Submit
                </button>
            </div>
        </div>
    </form>
</div>
