<form name="settingsForm" class="form-horizontal">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <highchart id="chart1" config="historyChartsCtrl.chartConfig" class="span10"></highchart>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-xs-4">Chart Type:</div>
            <div class="col-sm-4 col-xs-8">
                <select class="form-control" ng-model="historyChartsCtrl.selectedChartType" ng-options="chartType.text for chartType in historyChartsCtrl.chartTypes" ng-change="historyChartsCtrl.updateChartType()">
                </select>
            </div>
       
            <div class="col-sm-2 col-xs-4">Session:</div>
            <div class="col-sm-4 col-xs-8">
                <select class="form-control" ng-model="historyChartsCtrl.selectedSession" ng-options="session.sessionName for session in historyChartsCtrl.sessions" ng-change="historyChartsCtrl.updateSession()">
                </select>
            </div>
        </div>
        <div class="text-color2 clickable" ng-click="historyChartsCtrl.goToDashboard()">dashboard</div> 
    </div>
</form>
